<div class="container text-center">
  <h1><b>Weather App ☁</b></h1>
  <input type="text"  [(ngModel)]="city" class="input" placeholder="Enter City">
<button class="btn btn-success" (click)="check()"> Check Weather</button>
<div class="box" >    
<h1> Weather In : {{weatherData.name}} , {{weatherData.sys.country}}  </h1>
<p> Temperature : {{(weatherData.main.temp -273.15).toFixed(2) }}°C </p>
<p> Weather : {{weatherData.weather[0].description}} </p>

</div>

<div  >
<h1 >{{ this.error }}</h1>
</div>
</div>